<div class="page-wrap">

   <header>
      <div class="page-header">
         <h1>Gallery</h1>
      </div>
   </header>


   <div class="jumbotron">
      <h1>This is where the maps go...hehe</h1>
   </div>

   <div id="test">
      <ul>
         <% @maps.each do |map| %>
         <li>
            <div>
               <h3> <%= map.title %> </h3>
               <div class="gallery-img-wrap">
                  <img src="<%= map.url %>">
               </div>
               <a href="/maps/<%= map.id %>"><button class="btn btn-xs btn-default">See Full Map</button></a>
            </div>
         </li>
         <% end %>
      </ul>
   </div>

</div>
