<div class="page-wrap">

   <header>
      <div class="page-header">
         <h1 class="page-title">Gallery</h1>
      </div>
   </header>

   <div id="gallery-content">
      <ul class="list-unstyled">
         <% @maps.each do |map| %>
         <li>
            <div class="row">
               <div class="col-md-10 col-md-offset-1 gallery-img-wrap">
                  <div class="col-md-12 map-image-preview" style="background-image:url(<%= map.url %>)">
                     <div class="map-info">
                        <div class="content">
                           <h1> <%= map.title %> </h1>
                           <a href="/maps/<%= map.id %>"><button class="btn btn-xs btn-default">See Full Map</button></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </li>
         <% end %>
      </ul>
   </div>

</div>
