<div class="page-wrap">

   <header>
      <div class="page-header">
         <h1>Hello <%= @user.username %> </h1>
      </div>
   </header>

   <div class="button-group" role="group">
      <a href="/index"><button type="button" class="btn btn-md btn-warning">Home</button></a>
      <!-- <a href="/users/<%= @current_user.id %>"><button type="button" class="btn btn-xs btn-info">Profile</button></a> -->
      <%= button_to "Logout", logout_path, method: "delete", class: "red pull-left btn btn-danger btn-xs navbar-right navbar-btn" %>
   </div>

</div>
