<div class="page-wrap">

   <header>
      <div class="page-header">
         <h1>Home</h1>
      </div>
   </header>

   <div id="init-user-btns">
      <a href="/sessions/new"><button type="button" class="btn btn-md btn-warning">Login</button></a>
      <a href="/users/new"><button type="button" class="btn btn-md btn-warning">Sign Up</button></a>
   </div>


   <!-- DRAG TEST -->
   <div draggable="true">
      <p>Test</p>
   </div>

</div>
