<div class="page-wrap">
   <!-- <header>
      <div class="page-header">
         <h1>Splash Page</h1>
      </div>
   </header>

   <div id="init-user-btns">
      <a href="/index"><button type="button" class="btn btn-md btn-warning">Home</button></a>
      <!- <a href="/users/new"><button type="button" class="btn btn-md btn-warning">Sign Up</button></a> ->
   </div> -->

   <!-- <div class="container-fluid"> -->
   <div id="splash-wrap">
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div id="splash-pic-wrap">
                  <!-- <img id="intro-pic" src="/assets/intro-map.jpg"> -->
                  <div id="test">
                     <div class="col-md-6 col-md-offset-3">
                        <h1>Fantasy Forge</h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div id="explainer">
      <h1>Welcome</h1>
      <p>This is a simple to use map creator for finctional maps of any world or country you can image. GEtting started is quick, just make an account and go to the map editor to start building you world now. </p>
   </div>



</div>
