<div class="page-wrap">
   <header>
      <div class="page-header">
         <h1>Splash Page</h1>
      </div>
   </header>

   <div id="init-user-btns">
      <a href="/index"><button type="button" class="btn btn-md btn-warning">Home</button></a>
      <!-- <a href="/users/new"><button type="button" class="btn btn-md btn-warning">Sign Up</button></a> -->
   </div>

</div>
