/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

/*
COLOR SCHEME:

Black: #120309
Orange: #ED3904
Lightblue: #B0BCFF
Brown: #A57548
Green: #2A7221
*/

body {
   background-color: #A57548;
}

.container {
   background-color: #A57548;
}

.page-wrap {
   padding-top: 40px;
   margin-bottom: 30px;
   background-color: #A57548;
}

.page-title {
   font-family: 'IM Fell English SC', serif;
   font-size: 85px;
}

#init-user-nav-btns {
   padding-top: 10px;
}

#prof-nav-btn {
   padding-top: 10px;
}

/*
NAV BAR
*/

#page-nav {
   font-family: 'IM Fell English SC', serif;
}
