// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
PROFILE
*/

#section-top {
   font-size: 65px;
   text-align: center;
}

.map-header {
   font-size: 45px;
   font-family: 'IM Fell English SC', serif;
}
